<h3 class="mt-12 cursor-default text-2xl font-bold">Favorite Songs</h3>
<h5 class="mt-4 cursor-default">
  Everyone's got their favorite songs — and sometimes, music feels like the
  perfect way to let out “something.” That something could be about a special
  someone, a precious moment, or just raw emotions. Out of the endless songs out
  there, I'm drawn to a few that hit different and stir up feelings I can't even
  explain. So, here's a list of my favorite tracks — the ones I play on repeat
  while I'm out and about, in class, or winding down before bed.
</h5>