<h2 class="mt-20 cursor-default text-4xl font-bold">Other Stuff</h2>
<br />
<h5 class="cursor-default">
  This page isn't all that important, but I think there are a few things here
  that I really value… and honestly, I just love them. From my favorite songs
  and games to my go-to programming languages — it's all here. If you're not
  into it, feel free to skip ahead!
</h5>
<hr class="my-8 h-0.5 w-full text-black" />