@import "tailwindcss";
@plugin "@tailwindcss/typography";

@media screen and (max-width: 3120px) {
  ::-webkit-scrollbar {
    display: none !important;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: #374151 !important;
    -webkit-box-shadow: 0 0 0 30px #fceede inset !important;
    transition: background-color 5000s ease-in-out 0s;
    caret-color: #374151;
    box-shadow: 0 0 0 30px #fceede inset !important;
  }
  input:autofill {
    -webkit-text-fill-color: #374151 !important;
    box-shadow: 0 0 0 30px #fceede inset !important;
  }
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}