---
import Main from "@/layouts/main.astro";
import { Content } from "@/content/views/id/lainnya.mdx";
---

<Main title="Lainnya" description="">
  <section class="mx-auto mt-20 text-justify">
    <Content />
  </section>
</Main>