---
import { Header } from "../../static/components/Header";
import { Footer } from "../../static/components/Footer";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>404: Not Found!</title>
  </head>
  <body>
    <Header />
    <Footer />
  </body>
</html>../../static/components/Footer