---
import Main from "@/layouts/main.astro";
import { Content } from "@/content/views/contact.mdx";
---

<Main title="Kontak" description="">
  <section class="mx-auto mt-20 text-justify">
    <Content />
  </section>
</Main>