---
import Main from "@/layouts/main.astro";
import Introduction from "@/components/others/introduction.astro";
import FavoriteSongs from "@/components/others/favorite-songs.astro";
---

<Main title="Other Stuff" description="A shelf of things I love—playlists, textures, colors, pixels, pieces. A space for all the beautiful distractions I never want to forget.">
  <Introduction />
  <FavoriteSongs />
</Main>