---
import Main from "@/layouts/main.astro";
import Introduction from "@/components/others/introduction.astro";
import FavoriteSongs from "@/components/others/favorite-songs.astro";
---

<Main title="Other Stuff" description="">
  <Introduction />
  <FavoriteSongs />
</Main>