<h2 class="mt-12 text-2xl font-bold">🎓 Education</h2>
<figure class="mt-4 grid cursor-default grid-cols-1 rounded-lg bg-slate-100 px-6 py-4 text-slate-900 lg:grid-cols-2">
  <figcaption>
    <strong>Diploma 4 Informatics Engineering</strong>
    <br />
    Information Technology, Malang State Polytechnic <br />
    2023 - Now
  </figcaption>
  <span class="flex items-center justify-end">
    <img src="/politeknik-negeri-malang.png" alt="Politeknik Negeri Malang" class="hidden h-20 object-cover lg:inline" />
  </span>
</figure>
<figure class="mt-4 grid cursor-default grid-cols-1 rounded-lg bg-slate-100 py-4 pr-8 pl-6 text-slate-900 lg:grid-cols-2">
  <figcaption>
    <strong>Natural Science</strong>
    <br />
    State Senior High School 1 Singosari <br />
    2020 - 2023
  </figcaption>
  <span class="flex items-center justify-end">
    <img src="/sman-1-singosari.png" alt="Politeknik Negeri Malang" class="hidden h-20 object-cover lg:inline" />
  </span>
</figure>