<h2 class="mt-12 cursor-default text-2xl font-bold">🏢 Experience</h2>
<ul class="mt-4 ml-4 cursor-default list-disc">
  <span class="flex items-center justify-between">
    <li class="font-bold italic">Head of Front End Development Division</li>
    <h5>(February 2025 - Current)</h5>
  </span>
  <a href="https://wridev.id/" target="_blank" class="font-bold text-blue-500 italic transition-colors duration-300 lg:hover:text-blue-400">
    Workshop Riset Informatika
  </a>
  <h4>
    As the Head of Front End Development Division, I'm responsible for the Front
    End division at the Workshop Riset Informatika. My duties include scheduling
    miniclasses, monitoring mentors' teaching methods, and coordinating with the
    general chairman to ensure the development of the division.
  </h4>
  <br />
</ul>
<ul class="ml-4 cursor-default list-disc">
  <span class="flex items-center justify-between">
    <li class="font-bold italic">Front End Development Mentor</li>
    <h5>(October 2024 - Current)</h5>
  </span>
  <a href="https://wridev.id/" target="_blank" class="font-bold text-blue-500 italic transition-colors duration-300 lg:hover:text-blue-400">
    Workshop Riset Informatika
  </a>
  <h4>
    As one of the Front End mentors at the Workshop Riset Informatika, I have
    several tasks such as teaching material to college students in the basic
    class starting from HTML to JavaScript and sharing my experience in the web
    world. I also explain best practices in web development, provide feedback on
    student code and assist with troubleshooting, as well as organize Q&A
    sessions and discussions related to the material taught.
  </h4>
  <br />
</ul>
<ul class="ml-4 cursor-default list-disc">
  <span class="flex items-center justify-between">
    <li class="font-bold italic">Software Engineeer</li>
    <h5>(August 2024 - October 2024)</h5>
  </span>
  <a href="https://molca.id/" target="_blank" class="font-bold text-blue-500 italic transition-colors duration-300 lg:hover:text-blue-400">
    Molca Teknologi Nusantara
  </a>
  <h4>
    During my internship as a Software Engineer, I worked on a project-based
    team focused on web development. I used Vue.js to build user interfaces and
    Git for version control in a collaborative environment. This internship
    provided experience in teamwork and project management principles.
  </h4>
  <br />
</ul>