---
import List from "@/layouts/list.astro";
---

<h2 class="mt-12 cursor-default text-2xl font-bold">🏢 Experience</h2>
<List Description="As the Head of Front End Development Division, I'm responsible for the Front End division at the Workshop Riset Informatika. My duties include scheduling miniclasses, monitoring mentors' teaching methods, and coordinating with the general chairman to ensure the development of the division.">
  <div slot="Header" class="grid grid-cols-1 lg:grid-cols-2">
    <h5 class="font-bold">Head of Front End Development Division</h5>
    <h5 class="lg:text-right">Feb 2025 - Now</h5>
    <h5 class="-order-1 font-bold lg:order-0">Workshop Riset Informatika</h5>
    <h5 class="lg:text-right">Malang, East Java, Indonesia (On-site)</h5>
  </div>
</List>
<List Description="During my internship as a Software Engineer, I worked on a project-based team focused on web development. I used Vue.js to build user interfaces and Git for version control in a collaborative environment. This internship provided experience in teamwork and project management principles.">
  <div slot="Header" class="grid grid-cols-1 lg:grid-cols-2">
    <h5 class="font-bold">Software Engineer</h5>
    <h5 class="lg:text-right">Aug 2024 - Oct 2024</h5>
    <h5 class="-order-1 font-bold lg:order-0">Molca Teknologi Nusantara</h5>
    <h5 class="lg:text-right">Surabaya, East Java, Indonesia (Remote)</h5>
  </div>
</List>