<img src="/rafi-abiyyu-airlangga.jpeg" alt="Profile Photo" class="mt-20 h-40 w-40 rounded-full transition-all duration-500 ease-in-out lg:hover:scale-105" />
<i class="fa-solid fa-asterisk mt-6 text-xl font-normal"></i>
<h2 class="mt-4 cursor-default text-3xl font-bold">
  Hello everyone, I am Rafi <u>Abiyyu</u> Airlangga! 👋
</h2>
<h4 class="mt-4 cursor-default">
  I have a background in technology and am currently studying at Politeknik
  Negeri Malang, Diploma IV Informatics Engineering Study Program. In addition,
  I am interested in pedagogics and enjoy sharing experiences with others as
  part of the growing process.
  <br /><br />
  This interest encourages me to take an active role as a Programmer and Project
  Manager in various projects and competitions. I not only build technology solutions,
  but also learn and guide teams to achieve the best results.
</h4>
<br />
<ul class="ml-4 cursor-default list-disc">
  <li class="font-bold">Programmer</li>
  <h4>
    As a Programmer, I actively develop various web-oriented projects. My main
    focus is front-end development, with skills in HTML, CSS, JavaScript, as
    well as exploration of modern frameworks.
  </h4>
  <br />
  <li class="font-bold">Project Manager</li>
  <h4>
    Apart from being a programmer, I often act as a project manager in various
    inter-campus competitions. In this role, I was responsible for organizing
    the team's workflow, managing tasks, and ensuring the project went according
    to plan. This experience helped me improve my skills in project management,
    team communication, and decision-making.
  </h4>
</ul>