---
import List from "@/layouts/list.astro";
---

<h2 class="mt-12 cursor-default text-2xl font-bold">🌱 Volunteer</h2>
<h5 class="mt-4 cursor-default">
  Here are some of the volunteer activities I have done:
</h5>
<List Description="As a Public Relations volunteer, I play an active role in two important events at Workshop Riset Informatika — Hacktoberfest 2024 and the 10th Anniversary. In my role, I ensured that all correspondence and event proposals were in line with procedures. Also, I managed the delivery of information to all participants appropriately and effectively.">
  <div slot="Header" class="grid grid-cols-1 lg:grid-cols-2">
    <h5 class="font-bold">Public Relations Coordinator</h5>
    <h5 class="lg:text-right">Oct 2024 - Des 2024</h5>
    <h5 class="-order-1 font-bold lg:order-0">Workshop Riset Informatika</h5>
    <h5 class="lg:text-right">Malang, East Java, Indonesia (On-site)</h5>
  </div>
</List>