<h2 class="mt-20 text-4xl font-bold">Contact</h2>
<br />
The following are my official accounts on various platforms:
<br />
<ul class="ml-4 list-disc leading-loose">
  <li>
    LinkedIn:
    <a href="https://www.linkedin.com/in/rafiabiyyuairlangga/" class="underline transition-all duration-300 ease-in-out lg:hover:text-slate-500">
      https://www.linkedin.com/in/rafiabiyyuairlangga/
    </a>
  </li>
  <li>
    GitHub:
    <a href="https://github.com/a6iyyu" class="underline transition-all duration-300 ease-in-out lg:hover:text-slate-500">
      https://github.com/a6iyyu
    </a>
  </li>
  <li>
    Instagram:
    <a href="https://www.instagram.com/a6iyyu/" class="underline transition-all duration-300 ease-in-out lg:hover:text-slate-500">
      https://www.instagram.com/a6iyyu/
    </a>
  </li>
  <li>
    Email:
    <a href="mailto:mizukinako7@gmail.com" class="underline transition-all duration-300 ease-in-out lg:hover:text-slate-500">
      mizukinako7@gmail.com
    </a>
  </li>
</ul>
<br />
If you find any wrong, irregular, or ambiguous phrases in this website, please let me know via my
<a href="https://www.instagram.com/a6iyyu/" class="underline transition-all duration-300 ease-in-out lg:hover:text-slate-500">Instagram</a>.