---
interface List {
  Description: string,
}

const { Description } = Astro.props as List;
---

<ul class="ml-4 mt-4 list-disc cursor-default">
  <li class="mb-4">
    <slot name="Header" />
    <h4 class="my-1">
      {Description}
    </h4>
    <slot name="Footer" />
  </li>
</ul>